.c-gsearch {
  &__results-wrapper {
    @include menuOuter();
    display: flex;
    flex-direction: column;
    padding: $interiorMarginLg;
    min-width: 500px;
    max-height: 500px;
  }

  &__results,
  &__results-section {
    flex: 1 1 auto;
  }

  &__results {
    // Holds n __results-sections
    padding-right: $interiorMargin; // Fend off scrollbar
    overflow-y: auto;

    > * + * {
      margin-top: $interiorMarginLg;
    }
  }

  &__results-section {
    > * + * {
      margin-top: $interiorMarginSm;
    }
  }

  &__results-section-title {
    @include propertiesHeader();
  }
}

.c-gsearch-result {
  display: flex;
  padding: $interiorMargin $interiorMarginSm;

  > * + * {
    margin-left: $interiorMarginLg;
  }
  + .c-gsearch-result {
    border-top: 1px solid $colorInteriorBorder;
  }

  &__icon,
  &__more-options-button {
    flex: 0 0 auto;
  }

  &__icon {
    font-size: 2.5em;

    // TEMP: uses object-label component, hide label part
    .c-object-label__name {
      display: none;
    }
  }

  &__body {
    flex: 1 1 auto;

    .c-location {
      font-size: 0.9em;
    }
  }

  &__title {
    border-radius: $basicCr;
    cursor: pointer;
    font-size: 1.15em;
    padding: 3px $interiorMarginSm;

    &:hover {
      background-color: $colorItemTreeHoverBg;
    }

    .c-tag {
      border-radius: 3px;
      border: 0.25px solid;
      background-color: black;
      color: white;
      padding: 3px;
      margin-top: 5px;
      margin-left: 4px;
    }
  }
}


