.dropdown {
    position: relative;
    display: block;
    margin: auto;
    .dropdown-content {
      position: absolute;
      background-color: #333;
      min-width: 248px;
      max-width: 248px;
      max-height: 248px;
      border: 1px solid #aaaaaa;
      box-shadow: 0px -8px 34px 0px rgba(0,0,0,0.05);
      overflow: auto;
      z-index: 1;
      .dropdown-item {
        color:#aaaaaa;
        font-size: inherit;
        font-family: inherit;
        line-height: 1em;
        padding: 8px;
        text-decoration: none;
        display: block;
        cursor: pointer;
        &:hover {
          background-color: #333;
        }
      }
    }
    .dropdown:hover .dropdowncontent {
      display: block;
    }
  }