.c-tag_selection {
    display: flex;
    flex-direction: row;
}
.c-tag_editor {
    display: flex;
    flex-direction: row;
}
.c-completed-tag {
  border-radius: 3px;
  border: 0.25px solid;
  background-color: black;
  color: white;
  padding: 3px;
  margin-top: 5px;
  margin-left: 4px;
}
.c-add-tag-button {
  margin-top: 4px;
  text-align: center;
}
.c-add-tag-text {
  margin-top: 7px;
  text-align: center;
}